.dark-mode{
    width: 40px;
    height: 20px;
    border-radius: 50px;
    border: 2px solid rgb(6, 185, 185);
    /* background-color: rgb(235, 224, 79); */
    position:relative;
   top: 5px;
    left: 5px;
}
.dark-mode:hover{
    cursor: pointer;
}

.fa-sun{
    position: relative;
    right: -10px;
    top: -6px;
    font-size: 15px;
    animation: fa-sun 0.5s 1;
    animation-direction: alternate;
    /* border: 1px solid cyan; */
    border-radius: 50%;
    color: black;
}
@keyframes fa-sun {
    0%   {right:10px ;}
    100% {right:-10px ;}
  }
.fa-moon{
    position: relative;
    right: 10px;
    top: -6px;
    font-size: 15px;
    animation: fa-moon 0.5s 1;
    animation-direction: alternate;
    color: white;
}
@keyframes fa-moon {
    0%   {right:-10px ;}
    100% {right:10px ;}
  }

  @media screen and (max-width: 770px) {
    .dark-mode{
        top: 0px;
        left: 85% !important;
    }


  }

