@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');

.image-container img{
    width: 80%;
}
.container-m{
    display: grid;
    grid-template-columns: 3fr 9fr !important;
}
.matter{
    width: 90%;
}
.email{
    display: flex;
    flex-wrap: wrap;
}
.email:hover{
    cursor: pointer;
}
.phone:hover{
    cursor: pointer;
}

.matter p {
    border: 1px solid cyan;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Philosopher', sans-serif;
}
.matter p i {
    width: 20px;

    padding: auto;
}

@media screen and (max-width: 770px) {

   .container-m{
    display: grid !important;
   grid-template-columns: none !important;
   grid-template-rows: 3fr auto;
} 
.image-container img{
    width: 50%;
    margin: 0px auto !important;
}
.image-container{
padding: 10px !important;
}

}
@media screen and (max-width: 380px) {
    .about{
        position:unset !important;
    }
    .resume{
        position: unset !important; 
    }
    .projects{
        position: unset !important;  
    }
}

/* *********************************CONTACT PAGE****************************** */

.contactform input[type=text], input[type=email] , select, textarea {
    width: 100%;
    padding: 12px;
    border-radius: 50px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border: none ;
    background-color: #f2f2f2;

  }
  textarea{
      width: 100%;
      height: 100px !important;
      border-radius: 25px !important;
      border: none ;
    background-color: #f2f2f2;

  }
  
  input[type=text]:focus,
  input[type=email]:focus,
  textarea:focus
  {
    outline: none !important;   
  }
  
  .contactform input[type=submit]
  {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contactform input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .contactform {
    border-radius: 5px;
    padding: 20px;
    width: 100%;
  }
  .modal-dialog {
      max-width: 600px !important;
  }

  @media screen and (max-width: 600px) {
    
      
  }
